<!DOCTYPE html>
<html>
<head>
  <title>Mlb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <h1>Players</h1>

    <%= form_tag(players_path, :method => "GET", id: "form") do %>
      <%= text_field_tag :age, params[:age], placeholder: "Age", id: "age" %>
      <%= text_field_tag :search1, params[:search1], placeholder: "Search Player 1", id: "player1" %>
      <%= text_field_tag :search2, params[:search2], placeholder: "Search Player 2", id: "player2" %>
    <%= submit_tag "Search", :name => nil, id: "submit" %>

  <% end %>

</div>

<%  render partial: "player1", collection: @player1 %>
<%  render partial: "player2", collection: @player2 %>

<%= yield %>

</body>
</html>
