   <%= submit_tag "Search", :name => nil, id: "submit" %>
p1
<%= @player1.to_a %>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
<br>
<span><h4>
  Name
  PA
  R
  H
  HR
  BB
  SO
  RBI
  AVG
  OBP
  SLG
  OPS
  ISO
</span>
<br>

<span>
  <%= @agePlayer1[:name]%>
  <%= @agePlayer1[:pa]%>
  <%= @agePlayer1[:r]%>
  <%= @agePlayer1[:h]%>
  <%= @agePlayer1[:hr]%>
  <%= @agePlayer1[:bb]%>
  <%= @agePlayer1[:so]%>
  <%= @agePlayer1[:rbi]%>
  <%= @agePlayer1[:avg]%>
  <%= @agePlayer1[:obp]%>
  <%= @agePlayer1[:slg]%>
  <%= @agePlayer1[:ops]%>
  <%= @agePlayer1[:iso]%>
</span><br>

<span>
  <%= @agePlayer2[:name]%>
  <%= @agePlayer2[:pa]%>
  <%= @agePlayer2[:r]%>
  <%= @agePlayer2[:h]%>
  <%= @agePlayer2[:hr]%>
  <%= @agePlayer2[:bb]%>
  <%= @agePlayer2[:so]%>
  <%= @agePlayer2[:rbi]%>
  <%= @agePlayer2[:avg]%>
  <%= @agePlayer2[:obp]%>
  <%= @agePlayer2[:slg]%>
  <%= @agePlayer2[:ops]%>
  <%= @agePlayer2[:iso]%>
</span>
</h4>